

   <div class="todo-list">
    <form [formGroup]="todoListForm" (ngSubmit)="onSubmit()">
      <input formControlName="task" placeholder="Add a new task" />
      <button type="submit" [disabled]="todoListForm.invalid">Add Task</button>
    </form>
  
    <ul>
      <li *ngFor="let task of tasks$ | async">
        <input
          type="checkbox"
          [checked]="task.completed"
          (change)="onCompleteTask(task.id)" />
        <span [class.completed]="task.completed">{{ task.task }}</span>
        <button (click)="onDeleteTask(task.id)">Delete</button>
      </li>
    </ul>
  </div>
  

 
